* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: grey;
}

ul li {
  display: inline-block;
  padding: 10px;
  color: white;
}

img {
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.footer {
  background-color: grey;
  margin-top: 100vh;
}
