* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: grey;
}

ul li {
  display: inline-block;
  padding: 10px;
  color: white;
}
